<!DOCTYPE html>
<html lang="en">

<html>
    <div class="barra1">
    <head>
        
        <title>Stuff4Hack.</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    
    <body>
        <h1>Stuff<span>4</span>Hack</h1>
        <nav>
        <ul>
            <li><a href="tools.html">Explore</a></li>
            <li><a href="news.html">Upload</a></li>
            <li><a href="signup.html">Sign Up</a></li>
            <li><a href="signin.html">Sign In</a></li>
        </ul>
        </nav>
        </div>
        <div class="Box1">
        <h2>Latests Tools</h2>
        
        <p class="LN">
            here the latests tools were be updated
            here the latests tools were be updated
            here the latests tools were be updated
            here the latests tools were be updated
            here the latests tools were be updated
            here the latests tools were be updated
        </p>
        </div>
        
        <div class="Box2">
        <h2>Best Tools</h2>
        
        <p class="BestT">
            here the best tools were be updated
            here the best tools were be updated
            here the best tools were be updated
            here the best tools were be updated
            here the best tools were be updated

        </p>
        </div>
        
       
    </body>
</html>